<?xml version="1.0"?>

<model>
  <name>Diana V2</name>
  <version>1.0</version>
  <sdf version='1.7'>diana_v2.sdf</sdf>

  <author>
    <name>Agile Robots AG</name>
    <email>stefan.buettner@agile-robots.com</email>
  </author>

  <description>
      Agile Robot's Diana V2 model.
  </description>
</model>
